<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/underconstruction.css" />
    <title>ITC SIALKOT</title>
    
  
</head>
<body>

    <header>


        <div class="top">
            <div class="lefttop" id="lltop">
                <a href="/home/index"> <img src="/logo.png" class="logoimg" /></a>
            </div>
            <div class="namewithlogo">
                <h1 class="itcname">ITC COMPUTERS </h1><h1 class="AC">& ACADEMY</h1>
            </div>
            <div class="formailtop">
                <div class="mailimg">
                    <a href="mailto:jahangeermirza@gmail.com">  <img src="/emaillogo.png" class="emailogo" /></a>
                </div>
                <div class="mailaddress">
                    <p>
                        jahangeermirza@gmail.com
                    </p>
                </div>
            </div>
            <div class="fortimingtop">
                <div class="timeimg">
                    <img src="/timelogo.png" class="timelogo">
                </div>
                <div class="timings">
                    <p>
                        10:00 am --- 6:00 pm
                    </p>
                </div>
            </div>
            <div class="socialmed">
                <a href="https://www.facebook.com/ItcComputerAcademy/?_rdr" class="sociomed"><img src="/facebookicon.png" class="facsocialico" /></a>
                <a href="https://www.instagram.com/itcsolarskt/" class="sociomed">    <img src="/instagramicon.png" class="inssocialico"></a>
                <a href="https://api.whatsapp.com/send/?phone=923226814569&text&type=phone_number&app_absent=0 class=" sociomed""> <img src="/whatsappicon.png" class="whasocialico"></a>
            </div>
        </div>
        <hr />

        <div class="twomaindiv">
            <div class="leftnav">

                <a href="/home/index" class="homnav">Home</a>
                <a href="/home/freecourses" class="frenav">Free Courses</a>
                <a href="/home/services" class="sernav">Services & Installation</a>
                <a href="/home/onsitecourses" class="onsnav">Onsite Courses</a>
                <a href="/home/computerlaptop" class="comnav">Desktops & Laptops</a>
                <a href="/home/aboutus" class="abonav">About Us</a>



            </div>
            <div class="rightnav">
                <p class="contus">Contact Us</p>
                <p class="contanu">+92-322-6814569</p>
            </div>
        </div>
        <hr />
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>

        <div class="bottomhome">
            <div class="bottomhomeleft">
                <h2 class="felfree"> FOR MORE! VISIT OUR SHOP OR FEEL FREE TO CONTACT</h2>
                <p class="adres"><a href="https://maps.app.goo.gl/hgP6FESjDxgKk79C7"> <img src="/locationicon.png" class="adresico"> </a>Foam Market Opp. Jamia Masjid Rehmat Elahi Sialkot</p>
                <a href="/home/aboutus" class="aboutonbottom">About</a>
            </div>
            <div class="bottomhomeright">
                <a href="#lltop"><img src="/gototop.png" class="gototoppic"></a>
            </div>
        </div>

    </footer>



   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
