
<!DOCTYPE html>
<html>
<head>
    <title>About Us - ITC SIALKOT</title>
    <link rel="stylesheet" href="underconstruction.css" />
</head>
<body>

    <br />

    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">ABOUT US</h1>
    </div>

    <div style="align-items: center;
 margin-left: 200px; margin-right:
  200px; font-size: xx-large; text-align: center;">
        <p>
            <b>Since 1995</b> , we have been dedicated to providing top-notch computer services,
            installations, and sales to our valued customers.
            With nearly three decades of experience in the industry,
            we pride ourselves on our commitment to excellence and customer satisfaction.
        </p>
    </div>
    </br>

    <div>
        <h1 style="color: darkblue; font-size:xx-large;">OUR MISSION</h1>
    </div>

    <div style="align-items: center;
margin-left: 200px; margin-right:
200px; font-size: xx-large; text-align: center;">
        <p>
            Our mission is to provide comprehensive computer solutions
            that enhance productivity, foster learning, and drive innovation.
            We are committed to offering personalized service,
            expert advice, and quality products to help you achieve your technology goals.
        </p>
    </div>
    </br>



    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">WHY ITC?</h1>
    </div>

    <div style="align-items: center;
margin-left: 200px; margin-right:
200px; font-size: xx-large; text-align: justify;">
        <ul>
            <li>
                <b>Experience:</b>
                With over 25 years in the industry, our team has the knowledge and expertise to handle all your computer-related needs.
            </li>
            </br>

            <li>
                <b>Customer Satisfaction:</b>
                We prioritize your satisfaction and work diligently to exceed your expectations with every service and product we offer.
            </li>
            </br>

            <li>
                <b> Quality Products: </b>
                Our desktops and laptops are carefully selected to ensure you receive the best performance and value for your investment.
            </li>
            </br>

            <li>
                <b>Educational Commitment: </b>
                We are passionate about education and provide free online courses to help you stay ahead in the digital world.
            </li>
        </ul>
    </div>
    </br>
    <div>
        <h1 style="color: darkblue; font-size:xx-large;">HELP US</h1>
    </div>

    <div style="align-items: center;
margin-left: 320px; margin-right:
320px; font-size: x-large; text-align: justify;">

        <p>Your feedback matters alot to us. Please Let us know where we lag?</p>
        <form style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <label for="name">Your Good Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="whatsapp">WhatsApp No.:</label>
            <input type="text" id="whatsapp" name="whatsapp"><br>

            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email"><br>

            <label for="feedback">Your Suggestion/Feedback:</label>
            <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea><br>

            <input type="submit" value="Submit">
        </form>


</body>
</html>