<!DOCTYPE html>
<html>
<head>
    <title>Desktops,Laptops - ITC SIALKOT</title>
    <link rel="stylesheet" href="underconstruction.css" />
</head>
<body>
    <br />

    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">LAPTOPS</h1>
    </div>


    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    HP SPECTRE X3620
                </h1>

            </div>
            <div class="frcot">

                <ul class="pinthreemaindiv">
                    <li>
                        Core i7 14th gen.
                    </li>
                    <li>
                        16 GB RAM
                    </li>
                    <li>
                        512 GB SSD NVME
                    </li>
                    <li>
                        16.11" display 4K
                    </li>
                    <p style="margin-left: 60px; margin-top: 10px;
                  font-size: xxx-large;">1599$ Only</p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <img src="/lappc/hplptp.png" class="freecorseimg">
            </div>
        </div>

    </div>
    <br />
    <br />


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <img src="/lappc/dellptp.png" class="serviimg">
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    DELL XPS 17
                </h1>
            </div>
            <div class="servit">
                <ul class="pinthreemaindiv">
                    <li>
                        Core i9 13th gen.
                    </li>
                    <li>
                        16 GB RAM
                    </li>
                    <li>
                        512 GB SSD NVME
                    </li>
                    <li>
                        17" display 4K
                    </li>
                    <p style="margin-left: 60px; margin-top: 10px;
                      font-size: xxx-large;">1499$ Only</p>
            </div>
        </div>

    </div>


    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">DESKTOPS</h1>
    </div>


    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    HP OMEN 45L
                </h1>

            </div>
            <div class="frcot">

                <ul class="pinthreemaindiv">
                    <li>
                        Core i7 13th gen.
                    </li>
                    <li>
                        16 GB RAM
                    </li>
                    <li>
                        512 GB SSD NVME
                    </li>
                    <li>
                        8GB NVIDIA Graphic Card
                    </li>
                    <p style="margin-left: 60px; margin-top: 10px;
                  font-size: xxx-large;">2199$ Only</p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <img src="/lappc/hppc.png" class="freecorseimg">
            </div>
        </div>

    </div>
    <br />
    <br />


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <img src="/lappc/dellpc.png" class="serviimg">
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    Dell Alienware R16
                </h1>
            </div>
            <div class="servit">
                <ul class="pinthreemaindiv">
                    <li>
                        Core i9 14th gen.
                    </li>
                    <li>
                        16 GB RAM
                    </li>
                    <li>
                        512 GB SSD NVME
                    </li>
                    <li>
                        8GB NVIDIA Graphic Card
                    </li>
                    <p style="margin-left: 60px; margin-top: 10px;
                      font-size: xxx-large;">3299$ Only</p>
                    
            </div>
        </div>

    </div>


</body>
</html>