<!DOCTYPE html>
<html>
<head>
    <title>Free Courses - ITC SIALKOT</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <br />
    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">FREE ONLINE COURSES</h1>
    </div>


    <br />


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <a href="https://youtube.com/playlist?list=PLjVLYmrlmjGdDps6HAwOOVoAtBPAgIOXL&si=hZbFXuO8bsL013fd">
                    <img src="/thisfreepage/madfree.png" class="serviimg">
                </a>
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    MOBILE APP DEVELOPMENT
                </h1>
            </div>
            <div class="servit">
                <p class="pinfourmaindiv">
                    Unlock your potential in mobile app development with our expert-led course.
                    Learn to design, build, and launch successful apps, and turn your ideas into reality.
                    Join us to thrive in the booming app industry.
                </p>
            </div>
        </div>

    </div>
    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    COMPLETE FIVERR COURSE
                </h1>

            </div>
            <div class="frcot">
                <p class="pinthreemaindiv">
                    Unlock the potential of your skills and transform your talents into income
                    with Fiverr, the world's leading freelance marketplace. The course is
                    designed to teach you everything you need to succeed on Fiverr.
                </p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <a href="https://youtube.com/playlist?list=PL0hkf9Bo4i_X26KgCpijDPo0Ky55ktxtZ&si=yz1bnRGhQ6mb9rXw">
                    <img src="/thisfreepage/fiverfree.png" class="freecorseimg">
                </a>
            </div>
        </div>

    </div>
    <br />


    <br />


    <div class="sixmaindiv">
        <div class="sixmainleft">
            <div class="compp">
                <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg&si=VMy9Zhpq_P5de8-1">
                    <img src="/thisfreepage/webfree.png" class="compimg">
                </a>
            </div>
        </div>

        <div class="sixmainright">
            <div class="comph">
                <h1 class="hinsixmaindiv">
                    WEB DEVELOPMENT
                </h1>
            </div>
            <div class="compt">
                <p class="pinsixmaindiv">
                    Master web development with our expert-led course.
                    Learn to design, build, and launch stunning websites.
                    Your journey to becoming a web developer begins here!
                </p>
            </div>
        </div>
    </div>

    <div class="fivemaindiv">
        <div class="fivemainleft">
            <div class="onsiteh">
                <h1 class="hinfivemaindiv">
                    DIGITAL MARKETING & SEO
                </h1>
            </div>
            <div class="onsitet">
                <p class="pinfivemaindiv">
                    Master digital marketing and SEO with our concise, expert-led course.
                    Gain the skills to boost online visibility,
                    attract more traffic, and grow your business.
                    Start optimizing your success today!
                </p>
            </div>
        </div>
        <div class="fivemainright">
            <div class="onsitep">
                <a href="https://youtube.com/playlist?list=PLjVLYmrlmjGdNxIBIdaDEHtI4gAxaYoq1&si=fw_wN1UL0aW0iPGq">
                    <img src="/thisfreepage/digifree.png" class="onsiteimg">
                </a>
            </div>
        </div>
    </div>
    <br />


</body>
</html>