<!DOCTYPE html>
<html>
<head>
    <title>ITC SIALKOT</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>


    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    FREE ONLINE COURSES
                </h1>
            </div>
            <div class="frcot">
                <p class="pinthreemaindiv">
                    Discover our free online courses in Mobile App
                    Development, Computational Thinking, Free Lancing,
                    Digital Marketing and E-Commerce designed to Boost your
                    career from the comfort of your home.
                </p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <a href="/home/freecourses"><img src="/freecourse.jpg" class="freecorseimg"></a>
            </div>
        </div>

    </div>
    <br />
    <br />


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <a href="/home/services"><img src="/servicess.jpg" class="serviimg"></a>
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    SERVICE & INSTALLATION
                </h1>
            </div>
            <div class="servit">
                <p class="pinfourmaindiv">
                    Get seemless installations of any windows version(XP,7,8,10,11)
                    and a wide range of softwares and drivers with comprehensive troubleshooting support
                    from our experts.
                </p>
            </div>
        </div>

    </div>

    <div class="fivemaindiv">
        <div class="fivemainleft">
            <div class="onsiteh">
                <h1 class="hinfivemaindiv">
                    ONSITE COURSES
                </h1>
            </div>
            <div class="onsitet">
                <p class="pinfivemaindiv">
                    Join our On-Site training sessions for computer basics,
                    hardware, software,microsoft office professional, and
                    graphic designing led bt the industry's best trainers to
                    ensure you achieve excellence.
                </p>
            </div>
        </div>
        <div class="fivemainright">
            <div class="onsitep">
                <a href="/home/onsitecourses"><img src="/onsite courses.jpg" class="onsiteimg"></a>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="sixmaindiv">
        <div class="sixmainleft">
            <div class="compp">
                <a href="/home/computerlaptop"><img src="/sales.jpg" class="compimg"></a>
            </div>
        </div>
        <div class="sixmainright">
            <div class="comph">
                <h1 class="hinsixmaindiv">
                    DESKTOPS & LAPTOPS
                </h1>
            </div>
            <div class="compt">
                <p class="pinsixmaindiv">
                    Discover our wide variety of laptops and desktops PCs
                    offering the perfect solution for every user from everyday tasks
                    to high performance computing.
                </p>
            </div>
        </div>
    </div>





</body>
</html>