<!DOCTYPE html>
<html>
<head>
    <title>ITC SIALKOT</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>
    <div class="top">
        <div class="lefttop">
            <a href="homepage.html"> <img src="/logo.png" class="logoimg" /></a>
        </div>
        <div class="namewithlogo">
            <h1 class="itcname">ITC COMPUTERS </h1><h1 class="AC">& ACADEMY</h1>
        </div>
        <div class="formailtop">
            <div class="mailimg">
                <a href="mailto:jahangeermirza@gmail.com">  <img src="emaillogo.png" class="emailogo" /></a>
            </div>
            <div class="mailaddress">
                <p>
                    jahangeermirza@gmail.com
                </p>
            </div>
        </div>
        <div class="fortimingtop">
            <div class="timeimg">
                <img src="timelogo.png" class="timelogo">
            </div>
            <div class="timings">
                <p>
                    10:00 am --- 6:00 pm
                </p>
            </div>
        </div>
        <div class="socialmed">
            <a href="https://www.facebook.com/ItcComputerAcademy/?_rdr" class="sociomed"><img src="facebookicon.png" class="facsocialico" /></a>
            <a href="https://www.instagram.com/itcsolarskt/" class="sociomed">    <img src="instagramicon.png" class="inssocialico"></a>
            <a href="https://api.whatsapp.com/send/?phone=923226814569&text&type=phone_number&app_absent=0 class=" sociomed""> <img src="whatsappicon.png" class="whasocialico"></a>
        </div>
    </div>
    <hr />

    <div class="twomaindiv">
        <div class="leftnav">
            <a href="~/homepage.html" class="homnav">Home</a>
            <a href="freecourses.html" class="frenav">Free Courses</a>
            <a href="services.html" class="sernav">Services & Installation</a>
            <a href="onsitecourses.html" class="onsnav">Onsite Courses</a>
            <a href="computerlaptop.html" class="comnav">Desktops & Laptops</a>
            <a href="aboutus.html" class="abonav">About Us</a>
        </div>
        <div class="rightnav">
            <p class="contus">Contact Us</p>
            <p class="contanu">+92-322-6814569</p>
        </div>
    </div>
    <hr />

    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    FREE ONLINE COURSES
                </h1>
            </div>
            <div class="frcot">
                <p class="pinthreemaindiv">
                    Discover our free online courses in Mobile App
                    Development, Computational Thinking, Free Lancing,
                    Digital Marketing and E-Commerce designed to Boost your
                    career from the comfort of your home.
                </p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <a href="freecourses.html"><img src="freecourse.jpg" class="freecorseimg"></a>
            </div>
        </div>

    </div>
    <br />
    <br />


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <a href="services.html"><img src="servicess.jpg" class="serviimg"></a>
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    SERVICE & INSTALLATION
                </h1>
            </div>
            <div class="servit">
                <p class="pinfourmaindiv">
                    Get seemless installations of any windows version(XP,7,8,10,11)
                    and a wide range of softwares and drivers with comprehensive troubleshooting support
                    from our experts.
                </p>
            </div>
        </div>

    </div>

    <div class="fivemaindiv">
        <div class="fivemainleft">
            <div class="onsiteh">
                <h1 class="hinfivemaindiv">
                    ONSITE COURSES
                </h1>
            </div>
            <div class="onsitet">
                <p class="pinfivemaindiv">
                    Join our On-Site training sessions for computer basics,
                    hardware, software,microsoft office professional, and
                    graphic designing led bt the industry's best trainers to
                    ensure you achieve excellence.
                </p>
            </div>
        </div>
        <div class="fivemainright">
            <div class="onsitep">
                <a href="onsitecourses.html"><img src="onsite courses.jpg" class="onsiteimg"></a>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="sixmaindiv">
        <div class="sixmainleft">
            <div class="compp">
                <a href="computerlaptop.html"><img src="sales.jpg" class="compimg"></a>
            </div>
        </div>

        <div class="sixmainright">
            <div class="comph">
                <h1 class="hinsixmaindiv">
                    DESKTOPS & LAPTOPS
                </h1>
            </div>
            <div class="compt">
                <p class="pinsixmaindiv">
                    Discover our wide variety of laptops and desktops PCs
                    offering the perfect solution for every user from everyday tasks
                    to high performance computing.
                </p>
            </div>
        </div>
    </div>

    <div class="bottomhome">
        <div class="bottomhomeleft">
            <h2 class="felfree"> FOR MORE! VISIT OUR SHOP OR FEEL FREE TO CONTACT</h2>
            <p class="adres"><a href="https://maps.app.goo.gl/hgP6FESjDxgKk79C7"> <img src="locationicon.png" class="adresico"> </a>Foam Market Opp. Jamia Masjid Rehmat Elahi Sialkot</p>
            <a href="aboutus.html" class="aboutonbottom">About</a>
        </div>
        <div class="bottomhomeright">
            <a href="~/homepage.html"><img src="gototop.png" class="gototoppic"></a>
        </div>
    </div>


</body>
</html>