<!DOCTYPE html>
<html>
<head>
    <title>On Site Courses - ITC SIALKOT</title>
   
</head>
<body>

    <br />

    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">ONSITE COURSES</h1>
    </div>

    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    MICROSOFT OFFICE 365
                </h1>

            </div>
            <div class="frcot">
                <p class="pinthreemaindiv">
                    Master Microsoft Office with our expert-led course.
                    Learn advanced skills in Word, Excel, PowerPoint, and more.
                    Unlock your potential and boost your productivity today.
                    Your journey to becoming a Microsoft Office pro begins here!
                </p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <img src="/thisonsitepage/officesite.png" class="freecorseimg" id="reserveImage">
            </div>
        </div>

    </div>
    <br />
    <br />



    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <img src="/thisonsitepage/graphicsite.png" class="serviimg" id="reserveImages">
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    GRAPHIC DESIGNING
                </h1>
            </div>
            <div class="servit">
                <p class="pinfourmaindiv">
                    Master graphic designing with our expert-led course.
                    Learn to create stunning visuals and designs using industry-leading tools.
                    Unlock your creativity and start designing today.
                </p>
            </div>
        </div>

    </div>


    <div class="fivemaindiv">
        <div class="fivemainleft">
            <div class="onsiteh">
                <h1 class="hinfivemaindiv">
                    HARDWARE FUNDAMENTALS
                </h1>
            </div>
            <div class="onsitet">
                <p class="pinfivemaindiv">
                    Master hardware fundamentals with our expert-led course.
                    Learn to build, troubleshoot, and maintain computer systems and devices.
                    Unlock your potential and start mastering hardware today.

                </p>
            </div>
        </div>
        <div class="fivemainright">
            <div class="onsitep">
                <img src="/thisonsitepage/harwaresite.png" class="onsiteimg" id="reserveImagess">
            </div>
        </div>
    </div>
    <br />
    <br />


    <div class="sixmaindiv">
        <div class="sixmainleft">
            <div class="compp">
                <img src="/thisonsitepage/softwaresite.png" class="compimg" id="reserveImagesss">
            </div>
        </div>

        <div class="sixmainright">
            <div class="comph">
                <h1 class="hinsixmaindiv">
                    SOFTWARE FUNDAMENTALS
                </h1>
            </div>
            <div class="compt">
                <p class="pinsixmaindiv">
                    Master software installation with our expert-led course.
                    Learn to efficiently install, configure, and manage various software applications.
                    Unlock your potential and start mastering software today.
                </p>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('reserveImage').addEventListener('click', function () {
            alert('Contact us on WhatsApp or Visit Academy for seat reservation in the upcoming batch.');
        });
        document.getElementById('reserveImages').addEventListener('click', function () {
            alert('Contact us on WhatsApp or Visit Academy for seat reservation in the upcoming batch.');
        });
        document.getElementById('reserveImagess').addEventListener('click', function () {
            alert('Contact us on WhatsApp or Visit Academy for seat reservation in the upcoming batch.');
        });
        document.getElementById('reserveImagesss').addEventListener('click', function () {
            alert('Contact us on WhatsApp or Visit Academy for seat reservation in the upcoming batch.');
        });



    </script>


    
</body>
</html>