<!DOCTYPE html>
<html>
<head>
    <title>Services - ITC SIALKOT</title>
    <link rel="stylesheet" href="underconstruction.css" />
</head>
<body>


    <br />

    <div>
        <h1 style="color: darkblue; font-size:xxx-large;">SERVICES & INSTALLATION</h1>
    </div>


    <div class="threemaindiv">
        <div class="threemainleft">
            <div class="frcoh">
                <h1 class="hinthreemaindiv">
                    SERVICES
                </h1>

            </div>
            <div class="frcot">
                <p class="pinthreemaindiv">
                    We provide technical support, network administration,
                    IT consulting, training and education,
                    and help desk services to ensure seamless operations,
                    enhance security, offer strategic guidance,
                    empower your team with essential skills, and deliver reliable user assistance.
                </p>
            </div>
        </div>
        <div class="threemainright">
            <div class="frcop">
                <img src="/thisservipage/servic.png" class="freecorseimg" id="reserveImage">
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>


    <div class="fourmaindiv">
        <div class="fourmainleft">
            <div class="servip">
                <img src="/thisservipage/install.png" class="serviimg" id="reserveImages">
            </div>
        </div>

        <div class="fourmainright">
            <div class="servih">
                <h1 class="hinfourmaindiv">
                    INSTALLATIONS
                </h1>
            </div>
            <div class="servit">
                <p class="pinfourmaindiv">
                    We offer comprehensive installation services,
                    including a wide range of software installations such as Adobe
                    , Corels ,Microsoft softwares, all versions of Windows, InPage,
                    and various other essential applications to meet your business needs.
                </p>
            </div>
        </div>

    </div>

    </br>
    </br>
    </br>

    <script>
        document.getElementById('reserveImage').addEventListener('click', function () {
            alert('Feel Free to contact or visit our shop for any services.');
        });
        document.getElementById('reserveImages').addEventListener('click', function () {
            alert('Feel Free to contact or visit our shop for any installation.');
        });




    </script>


</body>
</html>